html {
	margin: 0px;
	height: 100%;
	width: 100%;
	min-width: 360px;
}

body {
	width: 360px;
  /*background-color: black;*/
	/*background: rgb(0,0,0);*/
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3) 100%), url("bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.recbar {
  height: 50px;
  width: 10px;
  background-color: #FFD700;
  margin: auto;
}

.circle {
  height: 10px;
  width: 10px;
  background-color: #FFD700;
  border-radius: 50%;
  align-self: center;
  margin: auto;
}

.blinky {
	-webkit-animation: BLINK 0.2s; /* Safari 4+ */
	-moz-animation:    BLINK 0.2s; /* Fx 5+ */
	-o-animation:      BLINK 0.2s; /* Opera 12+ */
	animation:         BLINK 0.2s; /* IE 10+, Fx 29+ */
}

#eqdiv{
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 1.5px 1.5px 10px 0.5px #FFFFFF;
	box-shadow: 1.5px 1.5px 10px 0.5px #FFFFFF;
	max-width: 750px;
	background: black;
	justify-content: center;
}

#hdr{
	font-family: riesling;
	margin-bottom: 0px;
}

@font-face
{
font-family: "riesling";
src: url('riesling.ttf');
}

@-webkit-keyframes BLINK {
0%, 100% {
    background-color: #e50000;
}