<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->   
    <link rel="stylesheet" href="bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheet.css">
    <script type="application/javascript" src="playsound.js"></script>

    <title>metronome</title>
  </head>
  <body>
    <div class="jumbotron" style="background-color:#000000">
	  <h1 class="display-4"><font color=#ffffff>metronome</font></h1>
	</div>
	<div id="eqdiv">
	  <div class="row center" id="mdiv" style="width:100%; min-height: 3em; justify-content: center;">
	    <div class="recbar" id="m1" style=""></div>
	    <!-- <div class="circle" id="s1"> </div> -->
	    <div class="recbar" id="m2" style=""></div>
	    <!-- <div class="circle" id="s2"> </div> -->
	    <div class="recbar" id="m3" style=""></div>
	    <!-- <div class="circle" id="s3"> </div> -->
	    <div class="recbar" id="m4" style=""></div>
	    <!-- <div class="circle" id="s4"> </div> -->
	  </div>
	</div>
	<p>
	<div class="container center" style="padding-top: 75px; width:280px">
		<div class="row center" style="width:100%">
	      <div class="col"><button type="button" class="btn btn-dark btn-lg font-weight-bold" style="width:95px" onclick="Play()">START</button></div>
	      <div class="col"><button type="button" class="btn btn-dark btn-lg font-weight-bold" style="width:95px" onclick="Stop()">STOP</button></div>
		</div>
	</div>
	<p>
	<div class="container center" style="padding-top: 75px; width:280px;">
	  <div class="row center" style="width:100%;">
	  	<div class="col">Subdivisions</div>
		<div class="col">
			<select id="subdivisions" style="height: 30px; width:75px;" select onchange="DrawTable()">
				<option value=0>No</option>
				<option value=1>1</option>
				<option value=2>2</option>
				<option value=3>3</option>
				<option value=4>4</option>
				<option value=5>5</option>
				<option value=6>6</option>
			</select>
		</div>
	  </div>
	  <p>
	  <div class="row center" style="width:100%;">
  		<div class="col">Tempo</div>
    	<div class="col"><input type="number" class="form-control" id="tempoNum" value=60 style="height: 30px; width:75px;"></div>
	  </div>
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>$(".dropdown-menu li a").click(function(){
	  		$(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
	  		$(this).parents(".dropdown").find('.btn').val($(this).data('value'));
			});
	</script>
  </body>
</html>