<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->   
    <link rel="stylesheet" href="bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheet.css">
    <script src="https://kit.fontawesome.com/1fdbacbfb7.js" crossorigin="anonymous"></script>
    <script type="application/javascript" src="playsound.js"></script>

    <title>metronome</title>
  </head>
  <body>
  	<div class="container-fluid center" id="ctdiv">
	    <div class="container-fluid center" id="hdr" style="background-color:#000000; width:320px; padding-top: 10px;">
	    	<div class="row justify-content-center"><h1 class="display-4"><font color=#ffffff>metronome</font></h1></div>
		</div>
		<div class="container-fluid center" style="padding-top: 30px; width:320px;">
		  <div class="row align-items-center">
		    <div class="col-2">
		    	<div class="row align-items-center justify-content-center"><i class="fas fa-minus" onclick="RemoveBeat()"></i></div>
		    </div>
		    <div class="col-8" id="eqdiv">
		      <div class="row align-items-center" id="mdiv">
	      		<div class="recbar mx-auto my-2" id="m1" style=""></div>
			    <div class="recbar mx-auto my-2" id="m2" style=""></div>
			    <div class="recbar mx-auto my-2" id="m3" style=""></div>
			    <div class="recbar mx-auto my-2" id="m4" style=""></div>
		      </div>
		    </div>
		    <div class="col-2">
		    	<div class="row align-items-center justify-content-center"><i class="fas fa-plus" onclick="AddBeat()"></i></div>
		    </div>
		  </div>
		</div>
		<p>
		<div class="container-fluid center" style="padding-top: 30px; width:280px;">
		  <div class="row center" style="width:100%;">
		  	<div class="col-6" style="padding-left: 30px">Subdivisions</div>
			<div class="col-6" style="padding-left: 45px">
				<select id="subdivisions" style="height: 37px; width:70px; padding-left: 6px" select onchange="DrawTable()">
					<option value=0>No</option>
					<option value=1>1</option>
					<option value=2>2</option>
					<option value=3>3</option>
					<option value=4>4</option>
					<option value=5>5</option>
					<option value=6>6</option>
					<option value=7>7</option>
					<option value=8>8</option>
					<option value=9>9</option>
					<option value=10>10</option>
					<option value=11>11</option>
				</select>
			</div>
		  </div>
		  <p>
		  <div class="row center" style="width:100%;">
	  		<div class="col-6" style="padding-left: 30px;">Tempo</div>
	    	<div class="col-6" style="padding-left: 45px"><input type="number" class="form-control" id="tempoNum" value=60 style="height: 37px; width:70px;"></div>
		  </div>
		  <p>
			<div class="row center" style="width:100%;">
	  		<div class="col-6" style="padding-left: 30px;">Stress 1<sup>st</sup></div>
	    	<div class="col-6" style="padding-left: 45px"><input type="checkbox" id="stressFirst" style="transform: scale(1.2)"></div>
		</div>
		<p>
		<div class="container-fluid" style="padding-top: 15px; padding-bottom: 15px; width:220px; margin-left: auto; margin-right: auto; padding-left: 0px; padding-right: 0px;">
			<div class="row align-items-center justify-content-center">
		      <div class="col-6"><button type="button" class="btn btn-dark btn-lg font-weight-bold" style="width:95px" onclick="Play()">START</button></div>
		      <div class="col-6"><button type="button" class="btn btn-dark btn-lg font-weight-bold" style="width:95px" onclick="Stop()">STOP</button></div>
			</div>
		</div>
		<div id="pLink" class="d-none d-xl-inline">
			<p>
				<a href="https://fast-dusk-85246.herokuapp.com/" 
				  target="popup" 
				  onclick="window.open('https://fast-dusk-85246.herokuapp.com/','popup','width=350,height=550,resizable=no,scrollbars=no'); return false;"
				  style="color:grey; font-style: italic;">
				    [Display in external window]
				</a>
		</div>
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>$(".dropdown-menu li a").click(function(){
	  		$(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
	  		$(this).parents(".dropdown").find('.btn').val($(this).data('value'));
			});
	</script>
  </body>
</html>